lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

.idea
npm-debug.log
# node_modules/

# custom modules
!/node_modules/xlsParser.js
!/node_modules/xlsReader.js